$color-primary: #373737;
$color-primary-dark: #242424;

$color-secondary: #cacaca;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey: #999;

$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;
