.portfolio {
  position: relative;
  padding-bottom: 6rem;
  background: $color-primary;
  @include flex;

  // overflow: hidden;
  font-family: "Roboto", sans-serif;

  .container {
    max-width: 37.5;
    margin: 1rem 2rem 0;

    @media only screen and (min-width: 768px) {
      max-width: 100rem;
    }
  }

  &__details {
    padding: 12rem 0 0 0;
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
    p {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 3rem;
      font-weight: 900;
      animation: floatinTop 0.8s cubic-bezier(0.12, 0, 0.39, 0) 0.4s;
    }

    p {
      padding-top: 1rem;
      animation: floatinLeft 0.8s cubic-bezier(0.12, 0, 0.39, 0) 0.2s;
    }
  }

  &__skills {
    list-style-type: none;

    &-item {
      display: inline-block;
      @include skills;
      animation: floatinBottom 0.8s cubic-bezier(0.12, 0, 0.39, 0) 0.3s;
      margin: 2rem 0.7rem 0 0;

      &:first-child {
        background-image: linear-gradient(
          to right top,
          #322d2f,
          #383336,
          #3d393e,
          #424046,
          #46474d,
          #44474c,
          #42464b,
          #41464a,
          #3a3f42,
          #343839,
          #2e3131,
          #282a2a
        );
      }

      &:not(:first-child):hover {
        cursor: pointer;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-grey-dark 80%
        );
        background-size: 200%;
        background-position: 100%;
        transition: all 0.4s;
      }
    }
  }
}

.project {
  display: grid;

  gap: 5rem;
  margin-top: 6rem;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  &__items {
    animation: floatinBottom2 1s cubic-bezier(0.12, 0, 0.39, 0) 0.1s;

    a {
      text-decoration: none;
      color: $color-secondary;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2.3px 2.2px rgba(0, 0, 0, 0.3), 0 30px 28px rgba(0, 0, 0, 0.4);

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba($color-black, 0.4);
      z-index: 2;
      opacity: 0;
    }

    &:hover {
      &:after {
        bottom: 0;
        opacity: 1;
        transition: all 0.5s ease-in;
      }

      .project__text {
        opacity: 1;
        transition: all 0.5s ease-in 0.5s;
        width: 100%;
      }

      .project__text-html {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.4s;
      }

      .project__text-css {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.5s;
      }

      .project__text-sass {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.9s;
      }
      .project__text-bootstrap {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.8s;
      }

      .project__text-javascript {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.6s;
      }

      .project__text-react {
        animation: floatinTop2 0.3s cubic-bezier(0.4, 0, 0, 1.5) 0.7s;
      }

      .project__text-lists-viewmore {
        animation: floatinBottom2 0.6s cubic-bezier(0.4, 0, 0, 1.5) 0.5s;
      }
    }

    h5 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0.4rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 900;
      color: $color-grey-dark;
      background: #f2f0e6;
      z-index: 3;
      box-shadow: 1px 3px 3px 3px rgba($color-grey-dark-3, 0.4),
        1px 3px 3px 3px rgba($color-grey-dark-3, 0.4),
        1px 3px 3px 3px rgba($color-black, 0.4);
    }
  }

  img {
    width: 100%;
    height: 30rem;
    // box-shadow:  0 0 10px #000000, 3px 3px 5px 6px #ccc, 0px 8px 5px -6px #ccc;
    // animation: wavy 10s infinite cubic-bezier(0.76, 0, 0.24, 1);
  }

  &__text {
    @include flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;

    &-lists {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      li {
        display: inline-block;
        margin: 0.4rem 0.8rem 0 0;
      }

      li,
      &-viewmore {
        display: inline-block;
        @include skills;
        font-size: 1.3rem;
        color: $color-white;
        margin-top: 2rem;
      }
    }
  }
}

//   font-family: gza;
//   font-size: 6vw;
//   font-weight: 900;
//   color: transparent;
//   width: 55%;
//   line-height: 1.2;
//   background-image: linear-gradient(to right, $color-grey-dark-2, #272121, $color-grey-dark, $color-grey-dark-3);
//   -webkit-background-clip: text;
//   animation: overlayText 3s cubic-bezier(0.12, 0, 0.39, 0) .4s;

//   @media only screen and (max-width: 1025px) {
// 	 width: 40%;
//    top: 50%;
//    left: 10%;
//    transform: translate(-10%, -50%);
//  }
