.footer {
  background: #444444;
  padding: 3rem;
  text-align: center;
  // @include flex;

  &__content--1,
  &__content--2 {
    font-size: 1.6rem;

    a {
      text-decoration: none;
      color: lighten($color-grey-dark-2, 20%);

      &:hover {
        color: lighten($color-grey-dark-2, 50%);
      }
    }
  }

  &__content--1 {
    // width: 70%;
    span {
      display: block;

      @media only screen and (max-width: 245px) {
        font-size: 6vw;
      }
    }
  }

  &__content--2 {
    margin-top: 4rem;

    span:not(:last-child) {
      padding-right: 2rem;
    }

    &-name {
      display: none;
      letter-spacing: 2px;
      @media only screen and (max-width: 1000px) {
        display: inline-block;
      }
    }

    &-arrowup {
      font-size: 3rem;
      vertical-align: middle;
    }
  }
}
