.navigation {
  position: relative;
  font-family: "Roboto", sans-serif;
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 4rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
    animation: floatinRight 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;

    @include respond(tab-port) {
      top: 2rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 1rem;
      right: 3rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-image: radial-gradient($color-primary, $color-grey-dark-3);
    // background-image: linear-gradient(
    //   to right top,
    //   #322d2f,
    //   #383336,
    //   #3d393e,
    //   #424046,
    //   #46474d,
    //   #44474c,
    //   #42464b,
    //   #41464a,
    //   #3a3f42,
    //   #343839,
    //   #2e3131,
    //   #282a2a
    // );
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #8a8a8a;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-grey-dark 80%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-white;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 4rem;
      height: 2px;
      background-color: #8a8a8a;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1.3rem;
  }

  &__button:hover &__icon::after {
    top: 1.3rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
